.card{
    width: 100px;
    height: 100px;
    border: 3px solid #FFD500;
    border-radius: 10px;
    margin: 5px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #011C51; 
    transition: transform 0.2s;
    transform: rotateY(-180deg);
    position: relative;   
    transform-style: preserve-3d;

} 
.card img{
    width: 70px;
    height: 70px;   
    backface-visibility: hidden;
    position: absolute; 

}
.card.flipped {
    transform: rotateY(0); 
}
.card-back{ 
    width: 100%;
    height: 100%;
    background-color: #011C51;
    border-radius: 10px;
}
 
 
   

 
  